.App {
  text-align: center;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sec-navigation {
  width: 100%;
  height: auto;
  background-color: grey;
  display: flex;
  flex-direction: row;
}

.sec-navigation nav {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.sec-navigation nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  width: 100%;
}
.sec-navigation nav ul li {
  list-style-type: none;
  margin-right: 5%;
}